*{
    margin: 0;
}
form div{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
    position: relative;
}
#logmein{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
input{
    left: 5px;
    position: relative;
}
.text-danger{
    color: red;
    left: 10px;
    position: relative;
}
#password, #email{
    border-bottom: solid 1px !important;
    outline: none;
    border: none;
    max-height: 25px;
    transition: background-color 0.5s ease;
}
#password:focus , #email:focus{
    background-color: rgba(0,0,0,0.1);
}
#logmein{
    padding: 5px 40px;
    display: block;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease;
}
#logmein:hover{
    transform: scale(0.9);
}
h1, h2{
    text-align: center;
    margin: 20px auto;
}
textarea{
    resize: none;
    height: 250px;
    margin: 20px auto;
    display: block;
    width: 60%;
}
a{
    text-decoration: none;
}
.sectionmodif{
    border: solid 2px;
    width: 35%;
    display: block;
    margin: auto;
    float: left;
    left: 50px;
    position: relative;
    height: auto;
}
#retour, #maj, #inserer, #affecter, #sendticket{
    bottom: 0;
    position: relative;
    text-align: center;
    display: block;
    border: none;
    margin: 60px auto;
    cursor: pointer;
}
#inserer{
    width: 125px;
}
#maj{
    left: 0;
    transform: scale(1.2);
}
.coolbutton{
    padding: 10px;
    background-color: black;
    color: white;
    width: 100px;
}
#typeprobleme, #etatticket{
    text-align: center;
    display: block;
    margin: auto;
}
.modifform{
    display: grid;
}
.leftzero{
    left: 0;
}
.majpage{
    text-align: center;
    display: block;
    margin: 20% auto;
    font-size: 1.5em;
    position: relative;
}